[2020-10-20 20:30] siddhantmodi opened #40 "CRC Error false alarm in Zynq driver"
Based on [this](https://forums.freertos.org/t/freertos-tcp-ip-on-arm-cortexa53/9898/50?u=sidmodi) forum comment from Hein, the following change needs to be made in Zynq/NetworkInterface.c around line 234:

[code]

Without that change, the message `CRC error: 1234 location 3` is printed in the serial console whenever the device sends an ARP message out.

[2020-10-20 20:33] siddhantmodi commented on #40
I just saw that a PR is in progress for this. Closing issue.

[2020-10-20 20:33] #40 closed

[2020-10-20 22:00] AniruddhaKanhere commented on #40
Hello @siddhantmodi, thanks for investing your time and energy in creating this PR.
Yes, there is a PR open and we are working on merging that to the mainline.

[2021-01-18 12:37] arturlangner opened #160 "FreeRTOS_DHCP.c missing socket include"
FreeRTOS_DHCP.h is missing `#include "FreeRTOS_Sockets.h"`. Build fails at `BaseType_t xIsDHCPSocket( Socket_t xSocket );` https://github.com/FreeRTOS/FreeRTOS-Plus-TCP/blob/09192b0e43998c8aeb0654fd0ff5bf3b102b78c9/include/FreeRTOS_DHCP.h#L104

[2021-01-20 00:26] AniruddhaKanhere commented on #160
Hello @arturlangner,

Thanks for taking the time to create an issue for this.

May I ask what build system are you using for compiling the project?
I ask this because the build system I am using - cmake and Visual studio, is able to compile without any errors.

[2021-01-20 01:58] RichardBarry commented on #160
Would also be interested in which .c file generates the error as it is probably something to do with the order of includes.  Your FreeRTOSIPConfig.h file might be of interest too if that is changing what is and isn't included in the build.

[2021-01-20 08:32] arturlangner commented on #160
The offending .c file was actually my own. I swapped the lines with `#include <FreeRTOS_Sockets.h>` and `#include <FreeRTOS_DHCP.h>`. Builds fine with gcc.

[2021-01-20 08:32] #160 closed

[2021-02-17 07:05] msripada opened #194 "Port byte order changes twice"
Conversion to host byte order is done here first.
https://github.com/FreeRTOS/FreeRTOS-Plus-TCP/blob/main/FreeRTOS_Sockets.c#L1224

Converted again here
https://github.com/FreeRTOS/FreeRTOS-Plus-TCP/blob/69b69d38f4763b8266a53d7ee1f71d960bf83eb0/FreeRTOS_IP.c#L470

[2021-02-17 12:59] #194 closed

[2021-03-10 09:45] tajen opened #208 "possiblity for static creation of IP task, queues, etc."
When configSUPPORT_STATIC_ALLOCATION is 1, idleTask and others are statically created, +TCP should also honor this as well.

[2021-03-17 20:20] hackaprende opened #212 "fatal error: esp_wifi_internal.h: No such file or directory"
In the new FreeRTOS version I have this issue

fatal error: esp_wifi_internal.h: No such file or directory

It did not happen in the last version. Please tell me if you need more information about my environment.

[2021-03-17 22:21] AniruddhaKanhere commented on #212
Hello @hackaprende,
Apologies for the trouble you have had.

I will require a bit more information for debugging and replicating the problem you are having. Could you let me know which project are you trying to compile - is it on GitHub or are you using a local project?
What is the build system that you are using? CMake or ESP-IDF?

[2021-03-18 01:46] hackaprende commented on #212
I solved it by using:
#include "esp_private/wifi.h"

Instead of
#include esp_internal_wifi.h

I also shared my solution here
https://github.com/aws/amazon-freertos/issues/3053

[2021-03-18 03:28] AniruddhaKanhere commented on #212
@hackaprende, Thanks for sharing that solution here. Would you like to create a PR for the same in the TCP repository?
If not, we would gladly do it for you.

[2021-03-18 14:32] hackaprende commented on #212
Sure, no problem, I am going to create the PR today.

El mié., 17 de marzo de 2021 9:28 p. m., Aniruddha Kanhere <
***@***.***> escribió:

[2021-03-22 19:08] AniruddhaKanhere commented on #208
Hello @tajen, Thanks for bringing this to our attention, and apologies for the late reply.
We will work on this and create a PR. If you would like, you can go ahead and create the PR which we shall help you with.

[2021-03-25 14:45] bernd-edlinger opened #216 "Possible overflow in xProcessReceivedTCPPacket"
This check looks as if has an issue if ulCurrentSequenceNumber + ulRxWindowLength overflows:

https://github.com/FreeRTOS/FreeRTOS-Plus-TCP/blob/d6ed4473d3e1eedde57d0abf6b93992ce4f85d3a/FreeRTOS_TCP_IP.c#L3586-L3588

[2021-03-25 15:38] tajen commented on #208
I may need it for my project. If so, I will create a PR

[2021-03-29 20:04] AniruddhaKanhere commented on #216
Hello @bernd-edlinger, thanks for bringing this to our notice.  We'll look into this and report back shortly.

[2021-03-30 10:00] tajen opened #218 "Unnecessary pointer leading to compiler warning on GCC"
When compiling FreeRTOS_IP.c I get the following warning:

FreeRTOS_IP.c:1949:66: warning: taking address of packed member of 'struct xUDP_HEADER' may result in an unaligned pointer value [-Waddress-of-packed-member]

also for lines: 2547, 2563 and 2580.

Here is the offending code:
[code]
It may be a problem problem for 32-bit aligned memory.

Here is the struct being pointed in to:
[code]

I don

[2021-03-30 19:37] AniruddhaKanhere commented on #218
Hello @tajen, thanks for bringing this to our attention. On a quick look, it seems that you are right. We are not using this for any other reason than to check its value.
Let me do some digging and figure out what is the best way to handle this.

[2021-03-31 08:37] htibosch commented on #218
[This local declaration](https://github.com/FreeRTOS/FreeRTOS-Plus-TCP/blob/main/FreeRTOS_IP.c#L1962) of `pusChecksum` can be avoided easily.

The use of `pusChecksum` in the function [`usGenerateProtocolChecksum`](https://github.com/FreeRTOS/FreeRTOS-Plus-TCP/blob/main/FreeRTOS_IP.c#L2496) is quite essential to the code.

As you probably know: when a `uint16_t` is declared in a packed struct, it

[2021-03-31 16:58] AniruddhaKanhere commented on #212
Hello @hackaprende, as mentioned in the PR, using the version of ESP-IDF 4.2 makes the code work for me without any change. There is quite a bit of change between version 3.3 and 4.2.
Was this error fixed once you applied the fix mentioned in this Issue: https://github.com/aws/amazon-freertos/issues/3054?

[2021-03-31 17:37] AniruddhaKanhere commented on #218
Hello @tajen, as Hein correctly points out, it seems that only the first occurrence that you mention should be removed and we can replace that directly with the structure.
All other occurrences are quite essential. They cannot be easily removed/replaced. I agree with Hein on the point that we should provide more thought to this before hacking away at the code. Any suggestions are welcome :)

[2021-04-05 21:15] archigup commented on #208
As this is being tracked in PR https://github.com/FreeRTOS/FreeRTOS-Plus-TCP/pull/217, I am closing this issue. Thanks!

[2021-04-05 21:15] #208 closed

[2021-04-06 06:53] tajen commented on #218
I see you point.
To be honest, I only checked the first occurance. And it was in the the LTS version, so the line numbers are not correct for the main branch. I appologize for that.

I will see if I can come up with a usable solution.

[2021-04-09 09:47] htibosch commented on #216
I just prepared a [PR #225](https://github.com/FreeRTOS/FreeRTOS-Plus-TCP/pull/225) with the title "Before sending a challenge ACK, check the sequence number more properly".
It is using the sequence number routines that are defined in [FreeRTOS_TCP_WIN.c](https://github.com/FreeRTOS/FreeRTOS-Plus-TCP/blob/bfa155920ed37302ea4799728795eec2298e696c/FreeRTOS_TCP_WIN.c#L249).

@bernd-edlinger, : thanks

[2021-04-10 04:03] AniruddhaKanhere commented on #218
Hello @tajen, no need for apologies! :)

Since there is no straightforward way to get around this particular warning, and since I do not think that we can categorize this as a bug, I do not see value for other customers in keeping this issue open.

I shall close this issue - you're welcome to reopen this issue or another one in the future - whatever suits your needs. Thanks again for bringing this

[2021-04-10 04:03] #218 closed

[2021-04-21 04:13] bernd-edlinger commented on #216
Fixed with commit e88ecd3.
Thanks!

[2021-04-21 04:13] #216 closed

[2021-05-01 03:35] setdebug opened #235 "IPv6 router solicitations are sent from non link-local addresses"
OpenBSD's rad(8) (and probably other implementations) will not respond to router solicitations sent from non link-local addresses. As a result, the endpoint falls back to a randomly assigned address when no router advertisement is received.

To work around this, I set a link-local address on the interface:

[code]

That works and the endpoint takes on an address with the prefix from the router adv

[2021-05-01 08:36] htibosch commented on #235
@setdebug Thanks for reporting this. I am glad to see that users start adopting IPv6.

When you have more questions about the [ipv6_multi branch](https://github.com/FreeRTOS/FreeRTOS-Plus-TCP/tree/labs/ipv6_multi), maybe the [FreeRTOS Forum](https://forums.freertos.org) is a better place, it will have more viewers.

First a remark about the logging of IP-addresses. I normally link my projects with

[2021-05-12 06:37] tieugiang91 opened #251 "Unknown type name 'SocketSet_t' / 'Socket_t'"
I'm trying to cross compile a library using FreeRTOS and toolchain file as:

[code]
The compilation gave the error:
Unknown type name 'SocketSet_t' / 'Socket_t'
Which header should I include for Socket_t and SocketSet_t please? Thank you.

[2021-05-13 05:26] htibosch commented on #251
I would recommend to include the following header files:
[code]
And in case you need socket sets ( `SocketSet_t` ), your copy of FreeRTOS_IPConfig.h needs to contain the following define:
[code]

[2021-05-13 06:56] tieugiang91 commented on #251
Thank you, finally it works.

[2021-05-13 06:56] #251 closed

[2021-05-13 08:38] htibosch commented on #251
The next time when you have a question, I recommend using the [FreeRTOS forum](https://forums.freertos.org). It is attended by many users and professionals who can answer your questions.
This issue section on github is more for bug-reports. It is read by few people.

[2021-06-09 19:33] AniruddhaKanhere commented on #235
@setdebug, is this issue resolved? Or do you need more clarification/help?

[2021-07-03 21:07] setdebug commented on #235
@AniruddhaKanhere and @htibosch:

Sorry for not getting back to you guys. I created this issue because there doesn't appear to be a way to ensure that router solicitations are always sent from a link-local address (unless I am missing something). If I create an IPv6 endpoint with `bWantRA` enabled, it is assigned an address the first time (it works) but subsequent solicitations/renewals are ignore

[2021-07-04 09:47] htibosch commented on #235
I was thinking along the same line, use `ipv6_defaults.xIPAddress` as the source address in the RA message.
I will prepare and test this option.
Thanks!

[2021-07-04 11:43] htibosch commented on #235
The only problem with assigning a link-local address to `ipv6_defaults`, occurs when the router is out-of-service. I would still like to give it a public IP-address.
( when a DHCP server does not respond at start-up, many device also use the last used IP-address ).
Also, I would like to give a single link-local address to an interface. I normally have 2 IPv6 endpoints on a single interface:

- A l

[2021-07-19 22:04] sefthyvoulos opened #275 "FreeRTOS_IPInit always reports failure when STATIC_ALLOCATION=1"
FreeRTOS_IPInit always reports failure when configSUPPORT_STATIC_ALLOCATION=1. Looks like in this path the return value isn't updated to reflect success.

[2021-07-20 23:12] AniruddhaKanhere commented on #275
Hello @sefthyvoulos, thank you for raising the issue and letting us know about this.

Would you mind letting us know which version of the FreeRTOS+TCP and the FreeRTOS-Kernel are you using? We are looking into this issue. Thank you for your patience.

[2021-07-21 08:35] htibosch commented on #275
It looks like the function `FreeRTOS_IPInit()` forgets to set the return value `xReturn` in case static allocation is enabled.
I will propose the following change to FreeRTOS_IP.c":
[code]
I will prepare a small PR for this, thanks for reporting!

[2021-07-21 17:30] AniruddhaKanhere commented on #275
The above PR was merged. Thank you @htibosch for making that change.
Thank you @sefthyvoulos for pointing this out. I shall be closing this issue now.

If you have any other issue/problem, feel free to open another issue or reopen this issue.

[2021-07-21 17:30] #275 closed

[2021-07-29 07:58] htibosch commented on #235
Hi @setdebug, have you tried the solution as provided in PR #271 ?

[2021-08-01 21:27] JeroenWagenaar opened #292 "Link-Local Multicast Name Resolution issue when using BufferAllocation_1 is used"
When BufferAllocation_1 is used the buffers are allocated fixed size. FreeRTOS_DNS.c does not support this. pucNewBuffer is initialized to NULL.

fix at line 1503

`                            else if( ( xBufferAllocFixedSize == pdTRUE ) && ( pxNetworkBuffer != NULL ) )
                            {
                            	pucNewBuffer = &( pxNetworkBuffer->pucEthernetBuffer[ ipUDP_PAYLOAD_OF

[2021-08-02 09:45] htibosch commented on #292
Thanks a lot for reporting, Jeroen!
Before your patch:
[code]
After applying the patch:
[code]
LLMNR used to work well, I used it in many projects, but during some PR the essential assignment must have disappeared.

If you like you can prepare a PR ( "pull request" ) for this. In case you're not experienced, we will guide you through.
If not, I don't mind creating a PR my self.
The code can also b

[2021-08-03 01:31] htibosch commented on #292
A few hints, in case you need that:

- The PR is supposed to be based on the "main" branch
- Please add some text about the why and how
- Before submitting, apply [uncrustify](https://sourceforge.net/projects/uncrustify/files/uncrustify/uncrustify-0.66.1) to the changed source code, using [this uncrustify.cfg](https://github.com/FreeRTOS/FreeRTOS-Plus-TCP/blob/main/tools/uncrustify.cfg).

If you d

[2021-08-05 20:01] AniruddhaKanhere commented on #235
Hello @setdebug, I am resolving this issue with a hope that the solution mentioned by @htibosch worked for you.
If you have any more questions/concerns, feel free to reopen this issue or open a new one.

Thanks once again for bringing this to our attention.

[2021-08-05 20:01] #235 closed

[2021-08-08 19:20] #292 closed

[2021-09-21 17:28] SL-RU opened #345 "Possible error in function prvTCPWindowFastRetransmit"
I'm using FreeRTOS+TCP V2.3.4 and FreeRTOS Kernel V10.4.5. I've  found that GCC embed static analyzer detected such possible  error. I didn't give it a deep dive in but I've got hard fault once accidentally in that place randomly once.

Here is output of gcc linker with flags `-fanalyzer -fuse-linker-plugin -flto -ffat-lto-objects ...` and gcc compiler `-flto ...`:

[code]

[2021-09-21 18:33] dachalco commented on #345
@SL-RU

This is great feedback. @AniruddhaKanhere could you review this?

[2021-09-21 23:32] AniruddhaKanhere commented on #345
@SL-RU, if I understand this correctly, then the static analysis is showing that at line 210 in list.c this statement is present: `pxItemToRemove->pxContainer = NULL;` and then somehow it deduces that the next statement at line 211 (`( pxList->uxNumberOfItems )--;`) is dereferencing NULL?

I am not sure I understand the logic behind this. Does the static checker somehow is thinking that the statem

[2021-09-22 07:11] SL-RU commented on #345
Yeah it seems so. I should have looked more closely at the report, it is just false positive. Thank you for the participation!

[2021-09-22 07:11] #345 closed

[2021-09-22 16:25] AniruddhaKanhere commented on #345
@SL-RU, thanks.
Feel free to re-open this issue or create a new one if you have any more questions/concerns/issues.

I'll close the issue now.

Thanks,
Aniruddha

[2021-09-23 15:14] htibosch commented on #345
Maybe it is worth mentioning that there is also the [FreeRTOS forum](https://forums.freertos.org), where you can ask any question about FreeRTOS or its libraries.
Many experts are monitoring the forum daily, and give quick and adequate answers.

[2021-10-17 00:01] indraneelpatil opened #364 "FreeRTOS-Plus-TCP without event groups functionality to use with an older FreeRTOS?"
I want to use FreeRTOS-Plus-TCP with an older freertos <v8 and event groups was introduced in v8, so I set ipconfigSUPPORT_SELECT_FUNCTION to 0 in my FreeRTOSIPConfig.h

But I just found out that FreeRTOS-Plus-TCP natively uses event groups API like xEventGroupCreate, does that mean I cannot use FreeRTOS-Plus-TCP with FreeRTOS version older than v8?

Is there any way to get this working without ev

[2021-10-17 20:27] indraneelpatil commented on #364
@htibosch  Hi Hein! thanks for your quick response and pointing me to the forum, I'll use that henceforth.

Why cant we update the FreeRTOS+TCP readme to indicate this v8.2 dependency? It may save someone in the future a lot of time?

We are using the ISIS-OBS platform https://www.isispace.nl/product/on-board-computer/ who's board support packages came with a pre-configured FreeRTOS with an older

[2021-10-18 05:41] htibosch commented on #364
Even after a subject is closed we can continue talking, here or on the forum.

It is possible that lwIP will work together with older versions of the FreeRTOS kernel. It uses semaphores and queues to synchronise access to the library.

Newer versions of the kernel have always been downward compatible. I maintain many projects with M4 or M7, linking them to all versions of the kernel, between v8.2

[2021-10-18 22:26] #364 closed, assigned to nobody

[2021-10-27 13:47] paul-szczepanek-arm opened #368 "timing may cause socket to enter invalid state which cannot reconnect"
I'm running FreeRTOS in virtual environment that creates unusual timing issues which is probably why I ran into this but I believe this could also happen on real hardware.

The scenario is that I lose a connection and I try to shutdown the socket and reconnect. This fails because the socket is already in the wrong state and `FreeRTOS_shutdown` returns `pdFREERTOS_ERRNO_EOPNOTSUPP` causing the AWS

[2021-10-27 13:58] #368 closed, assigned to nobody

[2021-11-16 12:51] rpcme opened #380 "Rename EMAC stack size variable and document"
The define `configEMAC_TASK_STACK_SIZE` in NetworkInterface.c infers this is a FreeRTOS kernel related configuration when I feel that it should have configip

Besides this it is an undocumented configurable stack size.  I faced stack overflow in the EMAC task, then defined it in FreeRTOSIPConfig.h with increase, and all was good.

I would also expect it to be documented here.

https://freertos.org

[2021-11-16 12:56] rpcme opened #381 "Document required call in STM32F7 port readme"
Document in STM32F7 port readme that `void HAL_ETH_MspInit(ETH_HandleTypeDef *heth)﻿` implementation by user is required.

Other drivers that I have seen like lwip provide the pin.

I assumed that this would have been covered by the STM32F746G BSP or the provided FreeRTOS+TCP driver.

[2021-11-19 04:24] htibosch commented on #380
The macro `configEMAC_TASK_STACK_SIZE` is used in 12 versions of NetworkInterface.c.

What about the following new code:
[code]

@rpcme wrote:

FreeRTOS+TCP has a dozen of configuration macro's that get their default value within one of the source files. This is an example of such a macro:
[code]
It is defined there locally, and it is not mentioned in `FreeRTOSIPConfigDefaults.h` or in the documen

[2021-11-19 05:14] htibosch commented on #381
Thanks @rpcme for this suggestion.

What about adding the following text to readme.txt :

---
When initialising the EMAC, the driver will call the function `HAL_ETH_MspInit()`, which should do the following:

- Enable the Ethernet interface clock using:
    __HAL_RCC_ETHMAC_CLK_ENABLE();
    __HAL_RCC_ETHMACTX_CLK_ENABLE();
    __HAL_RCC_ETHMACRX_CLK_ENABLE();

- Initialize the related GPIO clocks

[2021-12-06 08:51] go2sh opened #390 "Domain name handling with out DNS cache enabled"
I downloaded the latest multi/IPv6 branch and compiled it in default configuration. The DNS code produces compilations errors:

- pcName is disabled in ParseSet_t, even needed for dns operation [here](https://github.com/FreeRTOS/FreeRTOS-Plus-TCP/blob/dbba1fad396eed22a2c418db9882eb6994d4a0a6/include/FreeRTOS_DNS.h#L139)
- prvReadNameField is disabled, even needed [here](https://github.com/FreeRTOS

[2021-12-06 13:19] go2sh commented on #390
To give some more background:
- prvReadNameField is needed to parse the question and answer sections correctly
- ucName and pcName might be needed with you want to fill the ai_canonname with something independently of the cache

[2021-12-30 18:50] abhidixi11 commented on #390
Hello @go2sh , apologies for late reply.
Can you  please point me to the code where prvReadNameField is needed but ipconfigUSE_DNS_CACHE or ipconfigDNS_USE_CALLBACKS is not set, same for ucName and pcName. Thanks.

[2021-12-30 23:04] htibosch commented on #390
Hi @go2sh, thanks for reporting this. One additional question / request: could you attach your copy of FreeRTOSIPConfig.h to your post please?
It should be zipped and you can just drag the file from a file explorer to the edit box.
Thanks

[2021-12-31 11:43] go2sh commented on #390
I'am back at work on monday. I'll check my code and I can also provide you my workaround.

[2022-01-14 01:29] AniruddhaKanhere commented on #390
Hello @go2sh, any updates?

[2022-01-14 06:37] go2sh commented on #390
See the pr #405 for the code I'am using to fix the issue.

[2022-01-14 08:14] go2sh commented on #390
the required option in the config is just `#define ipconfigUSE_DNS_CACHE 0`

[2022-01-14 08:45] go2sh commented on #390
In the integration branch it seams to be fixed already.

[2022-01-14 19:46] AniruddhaKanhere commented on #390
Yes, that branch is not for IPv6. That branch is refactoring IPv4 source code to allow us to provide 100% test coverage and to compartmentalize the codebase.

[2022-01-26 16:15] fhars opened #411 "Include guard magic for STM32Fxx HAL does nothing"
The network interface example for STM32 tries to do some include guard magic to get away with whatever it does to the included modified copies of parts of the ST HAL
https://github.com/FreeRTOS/FreeRTOS-Plus-TCP/blob/b6eac0ca7df8c8935cb840fd9642f6533a0da2e6/portable/NetworkInterface/STM32Fxx/stm32fxx_hal_eth.h#L42

But that attempt is futile, as both NetworkInterface.c and stm32fxx_hal_eth.c inclu

[2022-01-26 20:23] AniruddhaKanhere commented on #381
@htibosch, would you like to create a PR to add that in the readme?

[2022-01-26 23:56] htibosch commented on #380
Sure I will. I silently thought that this is a PR in stead of an issue.

[2022-01-27 14:29] fhars opened #413 "ipconfigRAND32() and configRAND32() are still very much in use"
The history file claims they are no longer in use:
https://github.com/FreeRTOS/FreeRTOS-Plus-TCP/blob/b6eac0ca7df8c8935cb840fd9642f6533a0da2e6/History.txt#L70
but the source code deigns to disagree:
https://github.com/FreeRTOS/FreeRTOS-Plus-TCP/search?q=ipconfigRAND32

There are over a hundred mentions and uses of these macros in the released FreeRTOSv202112.00

[2022-01-27 22:10] AniruddhaKanhere commented on #413
Hello @fhars,

Thank you for bringing this to our attention.

#### For FreeRTOS+TCP repository:
Apologies, but I could not find references of `ipconfigRAND32` in any of the core files (ignoring the FreeRTOSIPConfig.h files) in FreeRTOS+TCP repository. The only place I saw it is in FreeRTOSIPConfigDefaults.h. I `grep`-ed for `configRAND` which should cover ipconfigRAND[32/64].

#### For FreeRTOS re

[2022-01-28 08:27] fhars commented on #413
It is all over the tar ball distributed from https://www.freertos.org/a00104.html.

The use is pervasive in the parts where someone who wants to start a new project would begin to look: all over the Demo/ directory and the official documentation: https://www.freertos.org/FreeRTOS-Plus/FreeRTOS_Plus_TCP/TCP_IP_Configuration.html#ipconfigRAND32

[2022-01-28 15:31] htibosch commented on #413
The macro `ipconfigRAND32()` has existed indeed. It was called in several places, for instance when finding a new "random" port number to bind a socket. And also, to determine the initial sequence number when starting a TCP connection.

FreeRTOS and its libraries has the habit of staying downward compatible. In FreeRTOS_IP.h you will still find code like this:

[code]

The above was an innocent ch

[2022-01-31 01:27] RuStrannik opened #414 "FreeRTOS TCP V2.4.0: DHCP Fails"
So, before, while I've been using FreeRTOS TCP V2.3.3 my device used to cold boot (fist time power on) with following code:

[code]
And everything worked flawlessly, until I tried FreeRTOS TCP V2.4.0, which caused the following problem: the system completely fails to digest received DHCP responce. Inifinitely.

Debugging revealed the following problem:
Before, in `FreeRTOSv202107.00/FreeRTOS-Plus/

[2022-01-31 05:34] htibosch commented on #414
Hello @RuStrannik, I am sorry to hear that you had these problems with +TCP V2.4.0.
And thanks a lot for reporting this. We were not yet aware of this change in behaviour.
I will sort it out and come back to it.
Hein

[2022-01-31 07:56] htibosch commented on #414
As you see here above, I already created a PR to repair this.
Thanks for sorting out the problem and reporting about it.
Hein

[2022-01-31 12:50] RuStrannik commented on #414
@htibosch, thank you for prompt response, that solves the problem.

[2022-01-31 12:50] #414 closed

[2022-01-31 14:24] fhars commented on #413
Yes, that is perfectly clear, but still doesn't change anything about the fact that have to rifle through the code of the implementation and the git history to find out about it, since all the examples and all the documentation still look as if the old, broken way is the way to go.

[2022-01-31 19:24] AniruddhaKanhere commented on #413
@fhars, of course, it is not correct. It misguides people to use incorrect function/macros.
To rectify that - I had created a PR to fix it and it has been merged. If you pull in the latest version of the main branch in FreeRTOS repository, it will have quite less instances of `ipconfigRAND32` calls. I am working on PRs in other repositories which are using this macro. They should be merged soon.

[2022-01-31 22:46] AniruddhaKanhere commented on #414
Hello @RuStrannik,

Apologies for the trouble the change has caused you. We added the change (using `xCheckRequiresARPResolution`) since that is what RFCs require - we need to send out an ARP Packet for any new local subnet IP we encounter. But as you correctly pointed out, this caused an unforeseen issue with DHCP.

I am reviewing the PR that @htibosch has raised. After minor fixes, we shall merg

[2022-01-31 23:02] RuStrannik commented on #414
I agree, having `xCheckRequiresARPResolution()` totally makes sense, I'm glad that this side effect got fixed so quickly.

[2022-02-01 17:52] AniruddhaKanhere commented on #413
Since all macros that I found have been removed from the latest version of the code, I am closing this issue.
@fhars thank you for reporting this. If you have any more questions/concerns please feel free to open another issue or reopen this one.

Thanks again,
Aniruddha

[2022-02-01 17:52] #413 closed

[2022-03-07 08:52] Dweb2 opened #430 "Updating minor and build number"
Hi,
I think that the minor (and build) counters need to be incremented here:
https://github.com/FreeRTOS/FreeRTOS-Plus-TCP/blob/55b3b94eb8b4cfae320d20386e8c3f5b1dea13be/include/FreeRTOS_IP.h#L45

Maybe write a macro which automatically joins the numbers to a string?

[2022-03-10 03:07] AniruddhaKanhere commented on #430
Hello @Dweb2, thanks for pointing the issue out to us.

I shall fix that ASAP. I will also make note so that it doesn't happen again.

I was thinking something similar to the following?
[code]

[2022-03-11 06:07] Dweb2 commented on #430
@AniruddhaKanhere, sounds good!

[2022-03-14 07:24] aggarg commented on #430
This PR updates version numbers - https://github.com/FreeRTOS/FreeRTOS-Plus-TCP/pull/432

[2022-03-15 15:05] kl-ti opened #436 "ipconfigTCP_KEEP_ALIVE_INTERVAL"
Hi,
i have discovered, that the ipconfigTCP_KEEP_ALIVE_INTERVAL define is missing its name inside the ifndef:
https://github.com/FreeRTOS/FreeRTOS-Plus-TCP/blob/d30e3a7f23d3a4a62678f3b69d98529db25ce20f/include/FreeRTOSIPConfigDefaults.h#L963-L965

[2022-03-15 16:32] AniruddhaKanhere commented on #381
Closing this issue as the readme was updated with PR 434

[2022-03-15 16:47] #411 closed

[2022-03-15 17:05] AniruddhaKanhere commented on #436
Hello @kl-ti,

Thanks for taking the time to report this issue.
This bug was added with this PR: https://github.com/FreeRTOS/FreeRTOS-Plus-TCP/pull/391.

I have raised a new PR to fix this: https://github.com/FreeRTOS/FreeRTOS-Plus-TCP/pull/437.

Thanks!

[2022-03-15 18:21] AniruddhaKanhere commented on #436
Closing this issue now since it was fixed with PR 437.

Thanks again for bringing the issue to our attention @kl-ti.

[2022-03-16 22:11] #430 closed

[2022-04-05 20:03] jonathangjertsen opened #446 "pxProtPack is set but unused in xCheckSizeFields"
In FreeRTOS_IP.c, in `xCheckSizeFields`, the variable `pxProtPack` is set but not used. This generates a warning when compiling with the TI CCS compiler:

     line 2566: error #552-D: variable "pxProtPack" was set but never used

There is a `sizeof( pxProtPack->xUDPPacket.xUDPHeader )`, but `sizeof` just looks at the type of the expression. Would it be OK to replace it with the equivalent `sizeof

[2022-04-06 13:37] jonathangjertsen opened #447 "TM4C network interface ignores MAC address passed to FreeRTOS_IPInit"
When configuring the Ethernet PHY with a MAC address, TM4C/NetworkInterface.c uses an internal function called `_ethernet_mac_get` which in turn reads the two non-volatile "user registers". This is similar to what TI's example code does, and it works with the evaluation boards which come pre-programmed with a MAC address in these registers. However, the user might want to store the MAC address som

[2022-04-06 15:50] htibosch commented on #447
Normally, the MAC-address of the interface is passed when calling `FreeRTOS_IPInit()`.
And indeed, when any function wants to know the "configured" MAC-address, it should call `FreeRTOS_GetMACAddress()`.

There is also a function `FreeRTOS_UpdateMACAddress()`, which registers a new address. Be aware that that function does not change the MAC-address filter of the EMAC.

In my projects, I often hav

[2022-04-06 16:12] jscott-hotstart commented on #447
@jonathangjertsen, I do agree, but changes coming to +TCP re: IPv6 make the solution a little murky for me.

@htibosch What do you propose that we do in this case? Should we create a PR to solve the issue in the current +TCP branch, then address the issue for the driver in IPv6/multi whenever the TM4C driver is merged there?

[2022-04-07 01:16] archigup commented on #446
Hi, thanks for the information; I have made PR #448 to fix this.

[2022-04-07 18:05] AniruddhaKanhere opened #449 "FreeRTOS+TCP library doesn't compile with static allocation turned on and dynamic allocation turned off"
The library can use queue and IP-task stack which was allocated statically.

Currently, the stack builds when `configSUPPORT_DYNAMIC_ALLOCATION == 1` regardless of the value of `configSUPPORT_STATIC_ALLOCATION `.

However, with `configSUPPORT_STATIC_ALLOCATION == 1` and `configSUPPORT_DYNAMIC_ALLOCATION == 0`, the stack fails to build since it is using `pvPortMalloc` in myriad socket functions.

[2022-04-08 05:08] htibosch commented on #447
As you know:

The application calls `FreeRTOS_IPInit()` which will store the IP- and MAC-address in variables.
Later, `xNetworkInterfaceInitialise()` is called, which will retrieve the MAC-address by calling `FreeRTOS_GetMACAddress()`. It will set a MAC filter in `MAP_EMACAddrSet()`.

In simple TCP/IP projects, the MAC-address will never change.

No general provisions were made to update the MAC-a

[2022-04-08 08:00] jonathangjertsen commented on #447
As far as I can tell, storing the MAC address in the user registers in the particular format that `_ethernet_mac_get` expects is just a convention from TI's example code. There is nothing in the reference manual about this, for example. However there is support for this convention in their tools such as LMFLasher, so it could be nice to introduce a header file exposing the functionality of `_ether

[2022-04-19 17:09] renesas-adam-benson opened #454 "Compile issue with IAR"
Versions:
- IAR Build Tools for ARM v9.20.2
- FreeRTOS Plus TCP v2.4.0

Hi, when compiling with IAR I am seeing semicolon errors for certain packed structs:

`"FreeRTOS/FreeRTOS-Plus/Source/FreeRTOS-Plus-TCP/include/FreeRTOS_DNS.h",140 Error[Pe1644]: definition at end of file not followed by a semicolon or a declarator`

I am compiling with pack_struct headers included in the repo for IAR (https:/

[2022-04-19 23:41] AniruddhaKanhere commented on #454
Hello @renesas-adam-benson,

Thank you for reporting this issue to us. We are looking into it.

Aniruddha

[2022-04-22 00:21] AniruddhaKanhere commented on #454
Hello @renesas-adam-benson,

I tried building a project using FreeRTOS+TCP V2.4.0 with IAR embedded workbench for ARM 9.20.4.47112 (which is the latest) but did not encounter any issues.
The project built successfully.

Can you put your project on GitHub somewhere so that I may clone it and see what the issue is since I cannot replicate your issue locally?

Thanks,
Aniruddha

[2022-04-22 14:26] renesas-adam-benson commented on #454
Hi @AniruddhaKanhere,

Thanks for the response. I took another look and turns out one of our build configurations had an issue in the order of compilation. I'll close the issue.

[2022-04-22 14:26] #454 closed

[2022-04-22 16:34] holden-zenith opened #456 "FreeRTOSIPConfigDefaults define error"
This file is written as if ipconfigEVENT_QUEUE_LENGTH and ipconfigNETWORK_MTU aren't user defined then they will be set to a default. However, the checks
[code]

[code]
prevent the defaults from ever being used because user definitions are required to pass these checks before the defaults are set.

[2022-04-24 21:27] pavel-a opened #457 "In STM32Fxx ethernet driver - race condition in RX check"
[Here](https://github.com/FreeRTOS/FreeRTOS-Plus-TCP/blob/c90932edc0c740cb44c8a5aef77351108dbb00ea/portable/NetworkInterface/STM32Fxx/NetworkInterface.c#L1299)

Race condition: a bit in `ulISREvents` is cleared non-atomically in `prvEMACHandlerTask`, while it can be written by interrupt handler.
A better signaling of RX events, combined with link state check is proposed in STM32 forum [link](https

[2022-04-25 17:37] AniruddhaKanhere commented on #457
Thanks @pavel-a for reporting the issue to us.

We have created PRs and merged suggested changes.

I will be closing this issue now.

Feel free to re-open this issue or create a new one in case you have some questions/concerns.

Thanks

[2022-04-25 17:37] #457 closed

[2022-04-25 18:07] AniruddhaKanhere commented on #456
Hello @holden-zenith, thank you for bringing this to our attention. I have created PR https://github.com/FreeRTOS/FreeRTOS-Plus-TCP/pull/460 to resolve this issue.

[2022-04-25 18:39] AniruddhaKanhere commented on #456
I also created a similar PR in IPv6 branch https://github.com/FreeRTOS/FreeRTOS-Plus-TCP/pull/461.

[2022-04-25 18:47] #456 closed

[2022-06-14 18:47] AniruddhaKanhere commented on #447
@jonathangjertsen I shall close this issue now - please feel free to open a new issue or reopen this one if you have any questions.

If you want to discuss something - you can create a post on [FreeRTOS-forums](https://forums.freertos.org/).

[2022-06-14 18:47] #447 closed

[2022-08-12 14:07] Dweb2 opened #540 "[Feature Request] STM32Hxx port: Duplicate MDIO Clock Config setup in HAL"
On the current version: ETH_MAC_MDIO_ClkConfig() https://github.com/FreeRTOS/FreeRTOS-Plus-TCP/blob/013b591124519a91fc81b52209474db6167fe49f/source/portable/NetworkInterface/STM32Hxx/stm32hxx_hal_eth.c#L2741 and HAL_ETH_SetMDIOClockRange() https://github.com/FreeRTOS/FreeRTOS-Plus-TCP/blob/013b591124519a91fc81b52209474db6167fe49f/source/portable/NetworkInterface/STM32Hxx/stm32hxx_hal_eth.c#L2180 a

[2022-08-12 18:04] AniruddhaKanhere commented on #540
Hello @Dweb2, thank you for bringing this to our attention. We are looking into it and will get back to you soon

[2022-08-28 19:03] karver8 opened #543 "[Feature Request] Add vTimerSetTimerID/pvTimerGetTimerID equivalents for sockets."
**Is your feature request related to a problem? Please describe.**
There is no easy way to locate application data associated with a socket from a socket callback.

Sockets allow the application to set callback functions for various events, e.g. `FREERTOS_SO_TCP_RECV_HANDLER` which will call a function with the prototype `BaseType_t (* FOnTCPReceive_t )( Socket_t xSocket, void * pData, size_t xLen

[2022-08-30 06:04] AniruddhaKanhere commented on #543
Hello @karver8!

That is quite an interesting feature request. Thank you for bringing this to out attention and thank you for also proposing a solution. The solution you suggest will seem like it would work.
We'll work on this and get back to you. Till that time, if you happen to have any more suggestions on how can we improve the FreeRTOS+TCP library, feel free to open more feature requests.

Tha

[2022-08-30 06:58] htibosch commented on #543
Hello [Jacob](https://github.com/karver8),

I agree with Aniruddha that this is an interesting request.

At one point, we already provide the possibility to add a personal object, in an asynchronous DNS lookup:
[code]
When I use it, "pvSearchID" will point to an object in my source code.

I would not add an ID to `IPTCPSocket_t`, but to `FreeRTOS_Socket_t`, so that all sockets can have an ID.

Wha

[2022-09-02 02:49] karver8 commented on #543
Hello Hein & Aniruddha,

Thanks for the quick feedback!

`FreeRTOS_Socket_t` is probably the better choice, I was not aware of it when I suggested `IPTCPSocket_t`.

I think the get/set couple is the best option. I do not see any problem with using `FreeRTOS_setsockopt()` to set the ID, however I have problems with the "Getting an ID." portion for a few reasons:

1. It would be confusing to "get" a

[2022-09-02 07:38] htibosch commented on #543
As you see, I submitted #546 to implement the two functions.

Thank you for the awesome idea to add a Socket-ID :-)

[2022-09-08 16:40] AmPaschal opened #549 "FreeRTOS+TCP may not be following the TCP standard for connection termination"
**Describe the bug**
I used FreeRTOS to create a server that I connected to a client application.
When I want to terminate the connection, I call close() on my client application. This sends the FIN+ACK frame to FreeRTOS.

According to the TCP RFC (https://www.ietf.org/rfc/rfc793.txt), FreeRTOS is supposed to first acknowledge the FIN+ACK by sending an ACK, before sending it's own FIN+ACK to close

[2022-09-10 04:19] phelter opened #552 "Add a CMakeLists.txt"
When compiling with: and using linux port, there are missing symbols.

[BufferAllocation_1.c](https://github.com/FreeRTOS/FreeRTOS-Plus-TCP/blob/main/source/portable/BufferManagement/BufferAllocation_2.c)
[linux/NetworkInterface.c](https://github.com/FreeRTOS/FreeRTOS-Plus-TCP/blob/main/source/portable/NetworkInterface/linux/NetworkInterface.c)

The missing symbols are:
[code]

**Target**
- Develo

[2022-09-10 07:54] htibosch commented on #552
When you put `freertos vNetworkInterfaceAllocateRAMToBuffers` into a search machine, you will get an answer to your question, for instance [here](https://www.freertos.org/FreeRTOS-Plus/FreeRTOS_Plus_TCP/Embedded_Ethernet_Porting.html#vNetworkInterfaceAllocateRAMToBuffers).

Note that the function is only needed when using [BufferAllocation_1.c](https://github.com/FreeRTOS/FreeRTOS-Plus-TCP/blob/ma

[2022-09-12 05:57] phelter commented on #552
Yes I agree it should be defined, however it isn't in the [linux/NetworkInterface.c](https://github.com/FreeRTOS/FreeRTOS-Plus-TCP/blob/main/source/portable/NetworkInterface/linux/NetworkInterface.c), which means when using BufferAllocation_1.c and `FREERTOS_PORT = GCC_POSIX` (as defined in the FreeRTOS-Kernel) - you get compiler warnings about missing symbols.

The solution is to add a stub for t

[2022-09-12 09:30] htibosch commented on #552
There was a reason not to provide `vNetworkInterfaceAllocateRAMToBuffers()` in the distribution: most implementations of that function declare a large static array:
[code]

My compiler uses segments for code and for RAM, so that unused declarations will not waste resources.

We have thought of introducing a config macro like e.g. `ipconfigBUFFER_ALLOCATION_1`. But we didn't want to oblige the user

[2022-09-12 17:14] paulbartell commented on #552
@htibosch Do you think it makes sense to heap allocate the network buffers in this case given that this primarily affects the windows / posix simulator ports?

[2022-09-12 17:26] phelter commented on #552
I understand the reason not having unused resources etc., however the main reason for having the `linux` build is to allow users to natively test their configuration of `FreeRTOS` along with their own code on their native platform (linux) as opposed to on the platform they intend to target (eg. an Arm cortex-a9 in this particular case).

For the configuration portion I implemented that in CMakeLis

[2022-09-12 18:02] phelter commented on #552
Another alternative to fix the issue regarding unused symbols is to add an additional file inside the [source/portable/NetworkInterface/linux directory ](https://github.com/FreeRTOS/FreeRTOS-Plus-TCP/tree/1ab6eb88857cf1011bf1f8349b43a1c34c7ced0f/source/portable/NetworkInterface/linux).  Eg: `BufferAllocation_1_port.c` which provides an implementation of the `vNetworkInterfaceAllocateRAMToBuffers()

[2022-09-12 18:51] paulbartell commented on #552
@phelter I think the intention of the different buffer allocation modes it to allow the end-developer to choose their preferred implementation and potentially not use any of the provided buffer allocation schemes if they have a different preference.

I'm hesitant to use your CMakeLists.txt as-is since there is not a one-to-one correlation between FreeRTOS port and FreeRTOS+TCP port, especially for

[2022-09-12 20:32] phelter commented on #552
@paulbartell - Yes that's fine.  It was never my intention on suggesting the CMakeLists.txt should be used verbatim.  I thought I'd provide it so you had a reference to what I was compiling and for what reason.  The Xilinx port for their 7000 Zynq components uses `BufferAllocation_1.c` for their implementation.

[2022-09-12 23:33] paulbartell commented on #552
@phelter : I pushed PR #553  which should address your issued with BufferAllocation1.c and the posix simulator. Feel free to comment on that PR if you have any concerns.

[2022-09-13 02:25] AmPaschal commented on #549
Hi,

Please, I am adding this comment as a reminder of this issue.

[2022-09-13 15:29] htibosch commented on #549
Hello @AmPaschal, I have seen both behaviours :
[code]
as well as:
[code]
I am reading a [Wiki page](https://en.wikipedia.org/wiki/Transmission_Control_Protocol) that says:

I think that the behaviour doesn't have any down-sides to it, it is just a bit quicker.

I just observed that my Windows laptop also responded with a 3-way handshake.

![image](https://user-images.githubusercontent.com/2088402

[2022-09-14 03:06] htibosch commented on #552
Yes I think that would make sense.

[2022-09-17 08:45] alfred2g commented on #549
I believe this is a non issue after reading the comment of @htibosch.
Will be closing the issue, please reopen if we missed something.

[2022-09-17 08:45] #549 closed

[2022-09-23 18:39] johnrhen commented on #552
I'm closing this issue, now that PR #553 has been merged. Please reopen if you have any additional concerns.

[2022-09-23 18:39] #552 closed

[2022-09-23 20:22] phelter commented on #552
I'll add a separate Issue for the changes associated with adding a CMake support.

[2022-09-23 20:37] phelter opened #556 "[Feature Request] Support for CMake"
**Is your feature request related to a problem? Please describe.**
As an integrator of FreeRTOS-Plus-TCP would like to support compilation via CMake.

**Describe the solution you'd like**

I would like to be able to integrate FreeRTOS-Plus-TCP via CMake to support a simpler build environment for native and cross-compilation.

I typically build my environments with an opt-out approach to all warnin

[2022-09-24 00:52] phelter commented on #556
Here is the cmake builds.

Note: Outstanding items:
* Some of the build Network Interfaces for various platforms are not complete - didn't want to infer anything there.  Have not tested on all of them.
* Have only tested on Clang 13/GNU 7.5 - with POSIX.

I'm adding a patch file here since I don't have access to create a branch.
[cmake_build.patch.txt](https://github.com/FreeRTOS/FreeRTOS-Plus-TCP

[2022-09-25 01:53] phelter opened #558 "[BUG] Fix Clang/GCC compiler warnings."
**Describe the bug**
Cleanup the Clang and GNU compiler warnings when `-Wall`, `-Weverything`, and `-Wpedantic` are used.

Start using clang for checking doxygen and other C based linting violations - can use in gitub-actions.

**Target**
- Development board: Linux
- Instruction Set Architecture: Linux
- IDE and version: Visual Code 1.71.1
- Toolchain and version: Clang-13 and GCC 7.5.0

**Host**

[2022-10-18 16:37] quartzjer opened #564 "[Feature Request] Any plans to support a second DNS server?"
https://github.com/FreeRTOS/FreeRTOS-Plus-TCP/blob/e0ce54235881ef9f479dd87ecf832642e96a35b7/source/FreeRTOS_DHCP.c#L897

Have hit this multiple times where resolution would fail because the local DHCP's primary DNS was down but secondary was available. Trying to find a quick workaround but it isn't looking like an easy patch.

[2022-10-18 18:21] quartzjer opened #565 "[Feature Request] TCP_NODELAY"
Any plans to support a `FREERTOS_SO_NODELAY` or equivalent for low latency streaming applications?

[2022-10-19 04:34] archigup commented on #565
Hi, NODELAY in other stacks is used to disable Nagle's algorithm; FreeRTOS+TCP does not use Nagle's algorithm and should not delay delivery.

Are you having latency issues with using the stack?

[2022-10-19 04:42] archigup commented on #564
Hi, thanks for bringing this up! I'll bring this request to our product team's attention.
If you get it working, we would welcome a PR.

[2022-10-19 05:20] htibosch commented on #564
Yes it is a good idea. The [ipv6_multi branch](https://github.com/FreeRTOS/FreeRTOS-Plus-TCP/tree/labs/ipv6_multi) already supports multiple DNS addresses, and the main (IPv4/single) branch should do so too.

The algorithm is simple: as long as a DNS server replies, stick with it. As soon as a server times out, the next DNS address will be tried. When the last address has been tried, the first ent

[2022-10-19 05:38] htibosch commented on #565
The TCP driver calculates the Smoothed Round Trip Time (SRTT), and in case a peer doesn't respond, the RTT indicates the time before a retransmission shall be done.

An exception on these waiting times is the ["fast retransmission"](https://wiki.wireshark.org/TCP_Analyze_Sequence_Numbers).

FreeRTOS+TCP is suitable to play audio, even if there are occasional retransmissions.

[code]

The waiting t

[2022-11-03 21:11] AniruddhaKanhere commented on #543
Hello @karver8 the PR that @htibosch created has been merged.
I shall be closing this PR now. Feel free to open a new issue or reopen this one if you have more suggestions or concerns.

Thanks.

[2022-11-03 21:11] #543 closed

[2022-11-04 00:54] n9wxu commented on #564
We would love this feature added but we are hard at work on other things so if you are interested in adding the feature and submitting a PR, we would welcome the opportunity to review it.

@htibosch has outlined the algorithm above and there is an example in the ipv6_multi branch.

This issue will be left open until the feature is added.

[2022-11-08 17:17] phelter opened #570 "[BUG] Invalid calls to vSocketClose() when system bogged down and multiple TCP ports are closed all at once"
**Describe the bug**

When the system is bogged down (cpu oversubscribed) and there are multiple TCP sockets open, and all TCP sockets are closed all at once, there are cases where extra calls to `vSocketCLose()` are performed on sockets that have already have been closed with bad socket data.

After much review of the environment and the message queue to the FreeRTOS-Plus-TCP IP task, narrowed do

[2022-11-10 18:58] htibosch commented on #570
Hello @phelter, thank you for this report.

There is something I don't understand: when `vSocketCloseNextTime()` is called, the socket it still an orphan, it has not been passed to the application yet. Therefore it is obligatory and safe for the IP-task to call `FreeRTOS_socketclose()` (in a delayed manner).

This is where `vSocketCloseNextTime()` is called the first time:
[code]
So the TCP status

[2022-11-10 23:10] phelter commented on #570
The use case is:

There are two `server` sockets that are created - each in their own task defined by `prvConnectionListeningTask` and with different ports.

The first thing that gets executed within each of the tasks is `vCreateTCPServerSocket`

[code]

As you can see the listening socket spawns an independent task for each accepted connection.

The function that is passed as: `pxServerTaskInfo->

[2022-11-11 07:01] htibosch commented on #570
Thank you for the code and your comments.

Your assumption about a possible race condition does not seem correct to me.

As long as `xSocketToClose` is set, it is impossible to call `vSocketClose()` from another task:

[code]

Between two calls to `xQueueReceive()`, only one message will be handled, no task can come in-between.

The buffer parameter to `FreeRTOS_recv()` was preceded by an ampersan

[2022-11-12 02:16] phelter commented on #570
Hello @htibosch ,

While I agree with you about the use of the `&cRxedData`  vs `cRxedData` is misleading if you prefer implied conversion of arrays to a pointer to their array type, it is not an issue because the array is defined above as an array of char of fixed size and the data is stored in the first location of the array.

Please see: [ISO/IEC 98/99](https://www.open-std.org/jtc1/sc22/wg14/w

[2022-11-12 02:31] phelter commented on #570
@htibosch

Yes I am aware. I did not use `shutdown()` in any of the examples provided associated with this particular bug and have used the [Berkley API](https://en.wikipedia.org/wiki/Berkeley_sockets) for over 20 years now.

Yes I am aware. And I fixed several places in the PR #571 - where the socket received by the IPTask event queue was not checking for both `NULL` OR `FREERTOS_INVALID_SOCKET`.

[2022-11-12 12:51] htibosch commented on #570
Hi @phelter, mind you that I am ( we are ) very grateful that you came up with this issue, and that you spent so much time on it.

About `&cRxedData vs cRxedData` : I responded too quickly. Your code is of course correct.

And about my remark about `shutdown()`: don't take it personal. One of my tasks (on the [FreeRTOS forum](https://forums.freertos.org)) is to give informations to developers. And

[2022-11-12 19:57] phelter commented on #570
Hello @htibosch, thank you for your response.

Regarding:

I did not take it personal; however, it would be appreciated that bugs of this nature, are treated `guilty until proven innocent` rather than `innocent until proven guilty` by the maintainers of the code base.  It is a very serious issue and with proof provided that using the API provided in a valid and acceptable way leads to a catastroph